@page
@model FinalProjectGroup11.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div>
    <h3>History</h3>
    <div>
        <p>Established in 2017, the firm is driven by Meera Nair and Apoorva Navlay</p>
        <p>Co-Founder Meera Nair made one of the main land sites in the country during the 2000s, building up an early skill in the realm of online land. The company's predictable, long haul center around web advertising implies that SweetHome.com positions among or over the biggest public land destinations for some, serious inquiry terms.</p>
        <p>Both Meera and Apoorva focus on mentorship and work intimately with different specialists in the firm to assist them with accomplishing their objectives and encourage proceeded with progress.</p><br />
    </div>

</div>
<h3>Our Team</h3>
<div class="card-group">
    <div class="card">
        <img src="~/Images/Team_Member1.png" class="card-img-top" alt="Meera">
        <div class="card-body">
            <h5 class="card-title">Meera Nair</h5>
            <h5 class="card-title text-muted">Co-Founder, Senior Real Estate Consultant</h5>
            <p class="card-text">Has Around 15 years of Experience in the Industry<br />(859) 684 3285 <br />meera.nair@swh.com<br /></p>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/Team_Member2.jpg" class="card-img-top" alt="Apoorva">
        <div class="card-body">
            <h5 class="card-title">Apoorva Navlay</h5>
            <h5 class="card-title text-muted">Co-Founder, CEO</h5>
            <p class="card-text">Has around 10 years of experience in online real estate engagements<br />(513) 778 113<br />apoorva@swh.com<br /></p>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/Team_Member3.png" class="card-img-top" alt="Praveena">
        <div class="card-body">
            <h5 class="card-title">Praveena Tati</h5>
            <h5 class="card-title">Senior Customer Manager</h5>
            <p class="card-text">MBA(Marketing)<br />Head of Business Relationships<br />513 697 554<br />praveena@sweethome.com<br />Joined SweetHomes as an intern and has been an incredible part of the company since then.<br /></p>
        </div>
    </div>
    <div class="card">
        <img src="~/Images/Team_Member4.png" class="card-img-top" alt="Alex">
        <div class="card-body">
            <h5 class="card-title">Lalit Janmeja</h5>
            <h5 class="card-title">Senior Customer Manager</h5>
            <p class="card-text">MBA(Finance)<br />Heads of Finance<br />859 123 456<br />jannmeja@sweethomes.com<br />Joined Sweethomes as an full time employee in 2019<br /></p>
        </div>
    </div>
</div>