@page
@model FinalProjectGroup11.Pages.AdminModel
@{
    ViewData["Title"] = "Admin page";
}

<div class="container">
    <ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Agents/Index"><u> Our Agents </u></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Buyers/Index"><u> Buyers Information </u></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Cities/Index"><u> Cities Information </u></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Dwellings/Index"><u> Dwellings Information </u></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/SalesOffice/Index"><u> SalesOffice Information </u></a>
    </li>
    </ul>
</div>
