@page
@model FinalProjectGroup11.Pages.AdminModel
@{
    ViewData["Title"] = "Admin page";
}

<div class="container">
    <ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Agents/Index"> Our Agents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Buyers/Index"> Buyers Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Cities/Index"> Cities Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Dwellings/Index"> Dwellings Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/SalesOffice/Index"> SalesOffice Information</a>
    </li>
    </ul>
</div>
