@page
@model FinalProjectGroup11.Pages.HelpModel
@{

}
<h1>NAVIGATION STEPS</h1>

<p>
    Need help with on how to navigate our website? We have got you! :)
</p>
<ul>
    <li>
        <h3> <a class="nav-link text-dark" asp-area="" asp-page="/Index"> <u>Home Page </u></a></h3>
        <h1> Buying Options</h1>
        <p>
            Home Page offers option for buying houses:
            <img src="~/Images/buyahome.png" height="400" width="700" /> <br />
            You can find your beautiful dwellings here.
        </p>
    </li>
    <li>
        <h1>Connect with Agents</h1>
        <p>
            You can connect with any of our agents:
            <img src="~/Images/sellahome.png" height="400" width="700" /> <br />
             Our Agents help you discover your beautiful houses
        </p>
    </li>
    <li>
        <h1>Visit Us</h1>
        <p>
            You can view our SalesOffices:
            <img src="~/Images/visitus.png" height="400" width="700" /> <br />
            All our salesoffices address is mentioned in this tab.
        </p>
    </li>
  
</ul>