@page
@model FinalProjectGroup11.Pages.HelpModel
@{

}
<h1>NAVIGATION STEPS</h1>

<p>
    Need help with on how to navigate our website? We have got you! :)
</p>
<ul>
    <li>
        <h3> <a class="nav-link text-dark" asp-area="" asp-page="/Index"> <u>Home Page </u></a></h3>
        <p>
            Our Home page looks like this:
            <img src="~/Images/HomePage.png" height="400" width="700" /> <br />
            It helps in navigating you to search for homes,our agents and salesoffice portals.
            It is hyperlinked to pages like AboutUs, Admin, Privacy.
        </p>
    </li>
    <li>
        <h3> <a class="nav-link text-dark" asp-area="" asp-page="/Agents/Index"> <u>Our Agents </u></a></h3>
        <p>
            Our Agent page looks like this:
            <img src="~/Images/AgentPage.png" height="400" width="700" /> <br />
            It has information about all our individal agent details,where only agents can add,delete and edit details about themselves.
        </p>
    </li>
    <li>
        <h3> <a class="nav-link text-dark" asp-area="" asp-page="/Buyers/Index"> <u> Buyers Page</u></a></h3>
        <p>
            Buyers page looks like this:
            <img src="~/Images/buyersPage.png" height="400" width="700" /> <br />
            It has details about all buyers.
        </p>
    </li>
    <li>
        <h3> <a class="nav-link text-dark" asp-area="" asp-page="/Cities/Index"> <u> Cities Page</u></a></h3>
        <p>
            Cities page looks like this:
            <img src="~/Images/Cities.png" height="400" width="700" /> <br />
            It has details about all the cities.
        </p>
    </li>
</ul>